header h1 {
  text-align: center;
  color: #333;
  margin-top: 1rem;
}

header h1 img {
  width: 1.25rem;
}

header p {
  text-align: center;
  color: #666;
  margin-bottom: 0.5rem;
  padding: 0 2rem;
}

header .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

header .btn-search input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

header .btn-search button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.825rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
