header h1 {
  text-align: center;
  color: var(--color-primary);
  margin-top: 1rem;
}

header h1 img {
  width: 1.2rem;
}

header p {
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
  padding: 0 2rem;
}

header .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

header .btn-search input {
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 15rem;
  text-align: center;
  padding: 0.5rem;
}

header .btn-search input::placeholder {
  color: #fc0606;
  padding: 0.5rem;
}
